body{
margin:0;
font-family:Arial;
background:linear-gradient(120deg,#9cffc9,#7ecbff,#ff9f9f,#ffd37e);
min-height:100vh;
}

/* LOGIN */
#loginBox{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:15px;
background:rgba(255,255,255,0.7);
}

#loginBox input{
padding:12px;
width:250px;
border-radius:10px;
border:none;
font-size:16px;
}

#loginBox button{
padding:12px 30px;
background:#2ecc71;
color:white;
border:none;
border-radius:20px;
font-size:18px;
cursor:pointer;
box-shadow:0 10px 20px rgba(0,0,0,0.3);
}

.hamster img{
width:160px;
transition:0.5s;
}

/* MAIN SITE */
#mainSite{
display:none;
padding:20px;
}

header{
text-align:center;
background:#2ecc71;
color:white;
padding:20px;
border-radius:20px;
box-shadow:0 10px 20px rgba(0,0,0,0.4);
transform:perspective(800px) rotateX(8deg);
}

/* CREATE BLOG */
.createBox{
margin:20px auto;
max-width:500px;
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 20px 30px rgba(0,0,0,0.3);
transform:perspective(800px) rotateY(-6deg);
}

.createBox input,
.createBox textarea{
width:100%;
padding:10px;
margin:10px 0;
border-radius:10px;
border:1px solid #ccc;
}

/* BLOG CARD */
.blog{
background:white;
margin:20px auto;
max-width:500px;
padding:20px;
border-radius:20px;
box-shadow:0 20px 30px rgba(0,0,0,0.3);
transform:perspective(800px) rotateX(6deg);
transition:0.3s;
}

.blog:hover{
transform:scale(1.05);
}

.blog img{
width:100%;
border-radius:15px;
}